body {
    background: lightgray;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: left;
    font-size: 18px;
}



/* .col-lg-2 {
    display: inline;
    
} */


#indexContainer {
    margin-left: 0 auto;
    padding: 50px;
    
}

/* .indexVideos {
    margin-right: 15px;
} */

footer {
    background: #2C3E50;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
}

.video-container {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .video-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    } 